-- Sensor Table
CREATE EXTENSION IF NOT EXISTS postgis;

CREATE TABLE sensor_table (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    base_speed INT NOT NULL,
    location GEOMETRY(POINT, 4326) NOT NULL
);
