-- Traffic Table
CREATE TABLE traffic_table (
    id BIGSERIAL PRIMARY KEY,
    serial_id INT REFERENCES sensor_table(id),
    timestamp TIMESTAMPTZ NOT NULL,
    speed_mph FLOAT NOT NULL,
    is_anomaly BOOLEAN NOT NULL DEFAULT FALSE
);
